.meli-breadcrumbs-nav{
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 1;
    color: #999;
    display: flex;
    margin: 16px 0;

    a{
        color: inherit;

        &:hover{
            text-decoration: underline;
        }
    }

    & > li{
        & + li{
            &:before{
                content: ">";
                display: inline-block;
                margin: 0 8px;
            }
        }

        &.meli-active{
            a{
                font-weight: 700;
            }
        }
    }
}