@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

// Base
// $global-font-family: 'Roboto', -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$global-font-family: -apple-system,"Helvetica Neue",Arial,sans-serif;

// Sizes
$global-input-font-size: 18px;

$global-font-size-14: 14px;
$global-font-size-16: 16px;
$global-font-size-24: 24px;
$global-font-size-28: 28px;
$global-font-size-46: 46px;

$global-margin-small: 16px;
$global-margin-large: 32px;

$global-radius: 4px;